PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=cf_user
DATABASE_PASSWORD=cf_secure_password
DATABASE_NAME=complementary_fashions

JWT_SECRET=4507657485c72bec8e2ba186de4e845cb44e462d170bcf4de835a5f556d71475
JWT_EXPIRES_IN=7d
ADMIN_JWT_SECRET=00fc65f375909cf6250b386e915b48cea69a4e3b6db424f6a3c35345128bed12

CORS_ORIGINS=http://localhost:4200,http://localhost:4201

NODE_ENV=development
UPLOAD_DEST=./uploads

FRONTEND_URL=http://localhost:4200
ADMIN_URL=http://localhost:4201

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=ivusojohn.97@gmail.com
MAIL_PASS=ikyddmqjkbuzoimw
MAIL_FROM=ivusojohn.97@gmail.com

MPESA_CONSUMER_KEY=e3q7zGCwC87l29ZR4MG07R1yIKqqMkpI9ZoLSCwGSnTuABdt
MPESA_CONSUMER_SECRET=8yV09spQHqO5SXu0SaI3Jb5wwgIKkAfvvmavS6WCdzVcyW4fFm3yfH4ABYsJzJId
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_CALLBACK_URL=https://7d71-102-210-25-82.ngrok-free.app/api/payments/mpesa/callback
MPESA_ENV=sandbox

CLOUDINARY_CLOUD_NAME=dw4ds17aq
CLOUDINARY_API_KEY=478674923522989
CLOUDINARY_API_SECRET=YebSuXCkfcvI-jH32MD5Eez-fKU