# ========================
# Frontend Admin .gitignore
# ========================

# Dependencies
node_modules/

# Build
dist/
.angular/

# Environment
src/environments/environment.prod.ts

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
