# ========================
# Frontend Admin .gitignore
# ========================

# Dependencies
node_modules/

# Build
dist/
.angular/

# Environment

# Logs
*.log
npm-debug.log*

# TypeScript cache
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db